@import "tailwindcss";

@theme {
  --color-ribbit-green: #00ff00;
  --color-background: #000000;
  --color-card-bg: #1a2023;
  --color-table-bg: #111518;
}

/* body {
  background: radial-gradient(
    circle at center,
    #000000 30%,
    rgba(0, 255, 0, 0.1) 100%
  );
  min-height: 100vh;
  color: white;
} */

body {
  background: radial-gradient(
    circle at 80% center,
    rgba(0, 255, 0, 0.7) 0%,
    rgba(0, 255, 0, 0.6) 25%,
    rgba(0, 255, 0, 0.5) 50%,
    #000000 100%
  );
  min-height: 100vh;
  color: white;
}

.gradient-background {
  background: radial-gradient(
    circle at 80% center,
    rgba(0, 255, 0, 0.2) 0%,
    rgba(0, 255, 0, 0.1) 30%,
    #000000 100%
  );
  min-height: 100vh;
}

@keyframes pulse-gradient {
  0% {
    opacity: 0.6;
    transform: translate(0, -50%) scale(1);
  }
  50% {
    opacity: 1;
    transform: translate(0, -50%) scale(1.1);
  }
  100% {
    opacity: 0.6;
    transform: translate(0, -50%) scale(1);
  }
}

@keyframes liquid-gradient {
  0% {
    transform: translate(0, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-5%, -45%) rotate(5deg);
  }
  100% {
    transform: translate(0, -50%) rotate(0deg);
  }
}

.glow-border {
  box-shadow: 0 0 10px rgba(74, 222, 128, 0.5);
}

/* Style for WalletMultiButton */
.wallet-adapter-button {
  background-color: #34c759 !important; /* Green background for button */
  color: #000 !important; /* Black text */
  border: 1px solid #34c759 !important; /* Green border */
  padding: 8px 16px !important; /* Adjust padding */
  border-radius: 8px !important; /* Rounded corners */
}

.wallet-adapter-button:hover {
  background-color: #2e865f !important; /* Darker green on hover */
}

/* Style for WalletMultiButton dropdown modal */
.wallet-adapter-modal {
  background-color: #1a1a1a !important; /* Dark background for modal */
  color: #ffffff !important; /* White text */
}

.wallet-adapter-modal-list-item {
  background-color: transparent !important; /* Transparent dropdown items */
  color: #ffffff !important; /* White text for dropdown items */
}

.wallet-adapter-modal-list-item:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ) !important; /* Slight hover effect */
}
